/* // html */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(103, 121, 127);
}
html h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  color: rgb(102, 177, 200);
  text-align: center;
}
@media (max-width: 767px) {
  html h1 {
    font-size: 1.8rem;
    font-weight: 800;
  }
}

/* // Navbar */
header {
  margin: 0%;
  width: 100vw;
}
header .navBar {
  background-color: rgb(214, 221, 228);
  box-shadow: 2px 2px 20px 0.8px rgb(173, 175, 177);
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .navBar .logo {
  width: 50%;
  padding: 5%;
  margin-right: auto;
}
header .navBar .navBar-menu {
  display: none;
}
header .navBar .navBar-cartBtn, header .navBar .navBar-cartBtn-desk {
  color: rgb(135, 140, 143);
  background-color: rgb(214, 221, 228);
  border: none;
  font-size: 1.5rem;
  padding-right: 2rem;
}
header .navBar .navBar-cartBtn:hover, header .navBar .navBar-cartBtn-desk:hover {
  color: rgb(102, 177, 200);
  cursor: pointer;
}
header .navBar ul {
  margin-left: auto;
  padding-right: 2rem;
  width: 35%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  /* .active{
      color: C.$secondaryColor;
      font-weight: F.$textSemiBold;
  } */
}
header .navBar ul a {
  color: rgb(135, 140, 143);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}
header .navBar ul a:hover {
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .navBar {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  header .navBar .navBar-cartBtn-desk {
    display: none;
  }
  header .navBar .navBar-menu {
    color: rgb(135, 140, 143);
    display: block;
    margin-left: auto;
  }
  header .navBar .navBar-menu .navBar-bars-btn {
    font-size: 1.5rem;
    padding-right: 2rem;
  }
  header .navBar ul {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    margin-bottom: 0;
  }
  header .navBar ul li {
    margin: 10px;
    padding-left: 1.3rem;
  }
  header .navBar .navBar-cartBtn {
    margin: auto 0 0 0;
    font-size: 1.8rem;
    background-color: rgb(242, 242, 242);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .navBar ul {
    padding-right: 2rem;
  }
  header .navBar ul li {
    padding: 0 1rem;
  }
}

/* // footer */
footer {
  background-color: rgb(103, 121, 127);
  margin-top: 8rem;
  margin-bottom: auto;
  margin-left: 0;
  width: 98%;
  color: rgb(214, 221, 228);
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
footer .logo {
  width: 30%;
}
footer .linksFooter, footer .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .socialMedia {
  margin-right: auto;
}
footer .socialMedia article {
  padding: 0;
}
footer .socialMedia article a {
  padding-right: 0.5rem;
  text-decoration: none;
  color: rgb(214, 221, 228);
  font-size: 1.4rem;
}
footer .socialMedia article a:hover {
  color: rgb(102, 177, 200);
  cursor: pointer;
}
footer .linksFooter {
  margin-left: auto;
}
footer .linksFooter li {
  padding-right: 1rem;
  list-style: none;
}
footer .linksFooter a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}
footer .linksFooter a:hover {
  color: rgb(102, 177, 200);
  cursor: pointer;
}
@media (max-width: 1270px) {
  footer .linksFooter {
    width: 35%;
  }
}
@media (max-width: 767px) {
  footer {
    padding: 0.5rem 1rem;
    justify-content: space-around;
    align-items: center;
  }
  footer .logo {
    width: 140px;
  }
  footer .socialMedia {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  footer .socialMedia article a {
    padding: 0.5rem;
  }
  footer .linksFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  footer .linksFooter a {
    font-size: 1rem;
  }
  footer .element:nth-child(1) {
    order: 3;
  }
  footer .element:nth-child(2) {
    order: 1;
  }
  footer .element:nth-child(3) {
    order: 2;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .linksFooter {
    margin-left: auto;
  }
  footer .linksFooter a {
    color: rgb(214, 221, 228);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    padding-right: 0;
  }
  footer .linksFooter a:hover {
    color: white;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 1023px) and (max-width: 1270px) {
  footer .linksFooter {
    width: 35%;
  }
}

/* // App */
body {
  margin: 0;
  padding: 0;
}
body h1 {
  padding-top: 100px;
  letter-spacing: 2px;
  font-size: 2.3rem;
}
body .main-container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
body .main-container aside .bg_type {
  margin-top: 1.5rem;
}
body .main-container aside .bg_type li {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.5rem;
  list-style: none;
}
body .main-container aside .bg_type li label {
  font-weight: 400;
}
body .main-container .main {
  margin-right: 3rem;
}
body .main-container .main h2 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 1rem;
  color: #f6f4f4;
  background-color: rgb(102, 177, 200);
  border-radius: 15px;
}
body .main-container .main .cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 5rem;
}
body .main-container .main .cards-container .product-card {
  width: 95%;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 20px 0.8px rgb(214, 221, 228);
  padding-bottom: 0.5rem;
}
body .main-container .main .cards-container .product-card .images-card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
body .main-container .main .cards-container .product-card .size {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  font-size: 1rem;
  line-height: 0.9;
}
body .main-container .main .cards-container .product-card p {
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
body .main-container .main .cards-container .product-card h3 {
  color: rgb(102, 177, 200);
  font-size: 1.8rem;
  line-height: 1;
}
body .main-container .main .cards-container .product-card .price {
  color: rgb(103, 121, 127);
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
body .main-container .main .cards-container .product-card .quantity-btns {
  display: flex;
  justify-content: center;
}
body .main-container .main .cards-container .product-card .quantity-btns button {
  background-color: white;
  color: rgb(102, 177, 200);
  border: none;
  font-size: 1.2rem;
  margin: 0.8rem;
}
body .main-container .main .cards-container .product-card .quantity-btns button:hover {
  cursor: pointer;
  color: rgb(103, 121, 127);
}
body .main-container .main .cards-container .product-card .quantity-btns p {
  font-size: 1.3rem;
  font-weight: 600;
}
body .main-container .main .cards-container .product-card .addCart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}
body .main-container .main .cards-container .product-card .addCart-btn button {
  color: white;
  background-color: rgb(102, 177, 200);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
body .main-container .main .cards-container .product-card .addCart-btn button .cart {
  font-size: 1.3rem;
}
body .main-container .main .cards-container .product-card .addCart-btn button:hover {
  cursor: pointer;
  color: rgb(103, 121, 127);
  background-color: #c9e7f4;
}
@media (max-width: 767px) {
  body .main-container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  body .main-container aside {
    display: none;
  }
  body .main-container .main {
    padding: 0 1rem;
    line-height: 1.3;
    margin-right: 1rem;
  }
  body .main-container .main .cards-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  body .main-container .main .cards-container .product-card h3 {
    font-size: 1.3rem;
  }
  body .main-container .main .cards-container .product-card p {
    font-size: 1rem;
  }
  body .main-container .main .cards-container .product-card h3, body .main-container .main .cards-container .product-card p, body .main-container .main .cards-container .product-card button {
    line-height: 1.3;
  }
  body .main-container .main .cards-container .product-card button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .main-container {
    grid-template-columns: 1fr 2fr; /* Dos columnas, la primera tiene el doble de ancho que la segunda */
    gap: 20px;
  }
  body .main-container aside .search {
    background-color: none;
    padding-left: 2rem;
    width: 100%;
  }
  body .main-container .main {
    padding: 0 1rem;
    line-height: 1.3;
    margin-right: 1rem;
  }
  body .main-container .main .cards-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
  }
  body .main-container .main .cards-container .product-card h3 {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  body .main-container .main .cards-container .product-card p {
    font-size: 1.3rem;
  }
  body .main-container .main .cards-container .product-card p, body .main-container .main .cards-container .product-card button {
    line-height: 1.3;
  }
}

/* // Carrito */
.cart-modal {
  display: flex;
  flex-direction: column;
}
.cart-modal .close-btn {
  font-size: 1.3rem;
  border: none;
  color: rgb(103, 121, 127);
  background-color: white;
  margin: 0 0 0 auto;
}
.cart-modal .close-btn:hover {
  cursor: pointer;
  color: rgb(130, 226, 255);
}
.cart-modal .cart-container {
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  justify-items: center;
}
.cart-modal .cart-container h2 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 1rem 0;
  color: #f6f4f4;
  background-color: rgb(102, 177, 200);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}
.cart-modal .cart-container article {
  margin-right: 2.5rem;
}
.cart-modal .cart-container article ul .total-price {
  display: flex;
  justify-content: right;
  align-items: center;
}
.cart-modal .cart-container article ul .total-price p {
  font-size: 1.2rem;
  padding-left: 1.5rem;
  font-weight: 700;
}
.cart-modal .cart-container article ul .total-price p:first-child {
  font-size: 1.3rem;
}
.cart-modal .cart-container article ul .cart-buttons {
  display: flex;
  justify-content: center;
}
.cart-modal .cart-container article ul .cart-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  margin-bottom: 2rem;
  margin: 2.5rem 2rem;
}
.cart-modal .cart-container article ul .cart-buttons button:first-child {
  color: white;
  background-color: rgb(103, 121, 127);
}
.cart-modal .cart-container article ul .cart-buttons button:first-child:hover {
  cursor: pointer;
  color: rgb(103, 121, 127);
  background-color: rgb(214, 221, 228);
}
.cart-modal .cart-container article ul .cart-buttons button:last-child {
  color: rgb(103, 121, 127);
  background-color: rgb(130, 226, 255);
}
.cart-modal .cart-container article ul .cart-buttons button:last-child:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(102, 177, 200);
}
.cart-modal .cart-container article ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 2rem 0;
  gap: 0.8rem;
  border-top: 1px solid rgb(135, 140, 143);
  border-bottom: 1px solid rgb(135, 140, 143);
}
.cart-modal .cart-container article ul li picture img {
  width: 45px;
  border-radius: 40px;
}
.cart-modal .cart-container article ul li .bold-tag {
  font-weight: 600;
}
.cart-modal .cart-container article ul li div {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.cart-modal .cart-container article ul li div article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.8rem;
  margin: 0;
}
.cart-modal .cart-container article ul li div article p {
  margin: 0;
  padding: 0.3rem;
}
.cart-modal .cart-container article ul li picture, .cart-modal .cart-container article ul li button {
  align-self: center;
}
.cart-modal .cart-container article ul li button {
  color: rgb(102, 177, 200);
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.cart-modal .cart-container article ul li button:hover {
  cursor: pointer;
  color: rgb(130, 226, 255);
}
@media (max-width: 935px) {
  .cart-modal .cart-container article ul li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0.53rem 0.53rem 3rem 0.53rem;
  }
  .cart-modal .cart-container article ul li div {
    flex-direction: row;
    align-items: start;
  }
  .cart-modal .cart-container article ul li div article {
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
  .cart-modal .cart-container article ul li div article p {
    margin: 0;
    padding: 0.3rem 0.8rem;
  }
  .cart-modal .cart-container article ul li div:nth-child(3) article {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cart-modal .cart-container article ul li p {
    font-size: 0.8rem;
  }
}

/* // Alta */
.product-registration {
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  justify-items: center;
}
.product-registration h2 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 1rem 0;
  color: #f6f4f4;
  background-color: rgb(102, 177, 200);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}
.product-registration .form-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  width: 100%;
}
.product-registration .form-product__group {
  padding: 2rem 1rem 1rem 1rem;
}
.product-registration .form-product__group label {
  font-size: 1rem;
  font-weight: 600;
}
.product-registration .form-product__group input {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 300;
  color: rgb(102, 177, 200);
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 0.8rem;
  margin-left: 1.8rem;
}
.product-registration .form-product__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(102, 177, 200);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
}
.product-registration .form-product__btn:hover {
  cursor: pointer;
  color: rgb(103, 121, 127);
  background-color: #c9e7f4;
}
.product-registration .form-product .error-message {
  color: rgb(175, 2, 2);
  font-size: 0.8rem;
  text-align: center;
}
@media (max-width: 869px) {
  .product-registration .form-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
  }
}
@media (min-width: 870px) and (max-width: 1099px) {
  .product-registration .form-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    width: 100%;
  }
}

/* // Contacto */
.contact {
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  justify-items: center;
}
.contact h2 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 1rem 0;
  color: #f6f4f4;
  background-color: rgb(102, 177, 200);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
.contact .contact-form__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.contact .contact-form__group {
  padding: 2rem 1rem 1rem 1rem;
}
.contact .contact-form__group label {
  font-size: 1rem;
  font-weight: 600;
}
.contact .contact-form__group input {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 300;
  color: rgb(102, 177, 200);
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 0.8rem;
  margin-left: 1.8rem;
}
.contact .contact-form__reason {
  margin-top: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  font-size: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2rem;
}
.contact .contact-form__reason select {
  margin: 0 1.8rem;
  color: rgb(102, 177, 200);
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 0.8rem;
}
.contact .contact-form__message {
  width: 70%;
  margin-top: 2rem;
  width: 97%;
  font-size: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
}
.contact .contact-form__message textarea {
  width: 90%;
  height: 10vh;
  color: rgb(102, 177, 200);
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
}
.contact .contact-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(102, 177, 200);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
}
.contact .contact-form button:hover {
  cursor: pointer;
  color: rgb(103, 121, 127);
  background-color: #c9e7f4;
}
.contact .contact-form .error-message {
  color: rgb(175, 2, 2);
  font-size: 0.8rem;
  text-align: left;
  width: 75%;
  font-weight: 600;
}
@media (max-width: 869px) {
  .contact {
    margin-left: 3%;
    margin-right: 3%;
  }
  .contact button {
    margin-left: 30%;
    margin-right: 30%;
  }
  .contact .contact-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    padding: 0 5rem;
  }
  .contact .contact-form__info {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-form__reason {
    padding: 0;
  }
}
@media (min-width: 870px) and (max-width: 1099px) {
  .contact .fcontact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    width: 100%;
  }
}

/* // Nosotros */
.us-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.us-container .us-card {
  background-color: rgb(244, 246, 249);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.us-container .us-card picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.us-container .us-card picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.us-container .us-card div {
  padding: 0 3rem;
}
.us-container .us-card div h3, .us-container .us-card div .us-intro {
  text-align: center;
}
.us-container .us-card div h3 {
  line-height: 0.4;
  color: rgb(102, 177, 200);
  font-size: 1.8rem;
}
.us-container .us-card div .us-intro {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 0.9;
}
.us-container .us-card div p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.us-container .us-card:nth-child(2) {
  background-color: rgb(244, 246, 249);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;
  width: 95%;
}
.us-container .us-card:nth-child(2) picture img {
  border-radius: 0 10px 10px 0;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .us-container .us-card, .us-container .us-card:nth-child(2) {
    grid-template-columns: 1fr;
    border-radius: 15px;
    padding-bottom: 0.5rem;
  }
  .us-container .us-card picture, .us-container .us-card:nth-child(2) picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .us-container .us-card picture img, .us-container .us-card:nth-child(2) picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .us-container .us-card div .us-intro, .us-container .us-card:nth-child(2) div .us-intro {
    line-height: 1.6;
  }
  .us-container .us-card:nth-child(2) .us-elements:nth-child(1) {
    order: 2;
  }
  .us-container .us-card:nth-child(2) .us-elements:nth-child(2) {
    order: 1;
  }
}
@media (max-width: 767px) {
  .us-container .us-card, .us-container .us-card:nth-child(2) {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .us-container .us-card, .us-container .us-card:nth-child(2) {
    width: 70%;
  }
}
